name: Neptune actions

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  compare-experiments:
    runs-on: ubuntu-latest

    steps:
      - name: Move code to runner
        uses: actions/checkout@v2

      - name: Run experiment master
        id: experiment_master
        run: |
          pip install neptune-client
          python train.py
          experiment_id=$(printenv NEPTUNE_EXPERIMENT_ID)
          echo ::set-output name=experiment_id::experiment_id

#      - name: Checkout PR
#        uses: dawidd6/action-checkout-pr@v1
#
#      - name: Get PR branch name
#        id: pr_branch_name
#        run: |
#          branch_name=$(git rev-parse --abbrev-ref HEAD)
#          echo ::set-output name=branch_name::$branch_name
#
#      - name: Run experiment PR branch
#        id: experiment_pr_branch
#        run: |
#          pip install neptune-client
#          python train.py
#          experiment_id=$(printenv NEPTUNE_EXPERIMENT_ID)
#          echo ::set-output name=experiment_id::experiment_id
#
#      - name: Get Neptune Experiments
#        env:
#          NEPTUNE_API_TOKEN: ${{ secrets.NEPTUNE_API_TOKEN }}
#          NEPTUNE_PROJECT_NAME: ${{ secrets.NEPTUNE_PROJECT_NAME }}
#          PR_BRANCH_NAME: ${{ steps.pr_branch_name.outputs.$branch_name }}
#          MASTER_EXPERIMENT_ID: ${{ steps.experiment_master.outputs.experiment_id }}
#          PR_BRANCH_EXPERIMENT_ID: ${{ steps.experiment_pr_branch.outputs.experiment_id }}
#        id: compare
#        run: |
#          pip install neptune-client
#          python get_neptune_experiments.py
#          result=$(cat comparison_table.md)
#          echo ::set-output name=result::$result
#
#      - name: Create a comment
#        uses: peter-evans/commit-comment@v1
#        with:
#          body: |
#            ${{ steps.compare.outputs.result }}
