name: Neptune actions

on:
  pull_request:
    branches: [master]

jobs:
  compare-experiments:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout master
        uses: actions/checkout@v2

      - name: Setup environment
        run: |
          pip install neptune-client

      - name: Run experiment from master
        id: experiment_master
        run: |
          python train.py
          echo ::set-output name=experiment_id::$NEPTUNE_EXPERIMENT_ID

      - name: Checkout develop
        uses: actions/checkout@v2
        with:
          ref: dev

      - name: Run experiment from develop
        id: experiment_develop
        run: |
          python train.py
          echo ::set-output name=experiment_id::$NEPTUNE_EXPERIMENT_ID

      - name: Get Neptune Experiments
        env:
          NEPTUNE_API_TOKEN: ${{ secrets.NEPTUNE_API_TOKEN }}
          NEPTUNE_PROJECT_NAME: ${{ secrets.NEPTUNE_PROJECT_NAME }}
          MASTER_EXPERIMENT_ID: ${{ steps.experiment_master.outputs.experiment_id }}
          DEVELOP_EXPERIMENT_ID: ${{ steps.experiment_develop.outputs.experiment_id }}
        id: compare
        run: |
          python get_neptune_experiments.py
          result=$(cat comparison_table.md)
          echo ::set-output name=result::$result

      - name: Create a comment
        uses: peter-evans/commit-comment@v1
        with:
          body: |
            ${{ steps.compare.outputs.result }}
