name: Neptune actions

on:
  pull_request:
    branches: [master]

jobs:
  compare-experiments:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    env:
      NEPTUNE_API_TOKEN: ${{ secrets.NEPTUNE_API_TOKEN }}
      NEPTUNE_PROJECT_NAME: ${{ secrets.NEPTUNE_PROJECT_NAME }}

    steps:
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Checkout develop
        uses: actions/checkout@v2
        with:
          ref: develop

      - name: Setup develop environment
        run: |
          pip install virtualenv
          virtualenv develop_env
          source develop_env/bin/activate
          pip install -r requirements.txt

      - name: Run experiment from develop
        id: experiment_develop
        run: |
          pip install -r requirements.txt
          python train.py
          experiment_id=$(cat experiment_id.txt)
          echo ::set-output name=experiment_id::$experiment_id

      - name: Checkout master
        uses: actions/checkout@v2
        with:
          ref: master

      - name: Setup master environment
        run: |
          pip install virtualenv
          virtualenv master_env
          source master_env/bin/activate
          pip install -r requirements.txt

      - name: Run experiment from master
        id: experiment_master
        run: |
          python train.py
          experiment_id=$(cat experiment_id.txt)
          echo ::set-output name=experiment_id::$experiment_id

      - name: Get Neptune Experiments
        env:
          MASTER_EXPERIMENT_ID: ${{ steps.experiment_master.outputs.experiment_id }}
          DEVELOP_EXPERIMENT_ID: ${{ steps.experiment_develop.outputs.experiment_id }}
        id: compare
        run: |
          python get_neptune_experiments.py
          result=$(cat comment_body.md)
          echo ::set-output name=result::$result

      - name: Create a comment
        uses: peter-evans/commit-comment@v1
        with:
          body: |
            ${{ steps.compare.outputs.result }}
